{% extends 'base.html' %}

{% block body %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">
        <img alt="Kubyk" src="{{url_for('.static', filename='logo.png')}}" align="center" >
        Deleting user <b>{{ user }}</b>
      </div>
      <div class="card-body">
        <form form action="{{ url_for('userdel', user=user) }}" method="POST">
          <div class="alert alert-warning">
             User <strong>{{ user }}</strong> will be deleted !</strong>
          </div>
          <button class="btn btn-danger btn-block" value=userdel type="submit">Delete</button>
          <a href="/users" class="btn btn-secondary btn-block" role="button" aria-pressed="true">Cancel</a>
        </form>
        </div>
      </div>
    </div>
</body>
{% endblock %}
