{% extends 'base.html' %}
{% block body %}
<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">
        <img alt="Kubyk" src="{{url_for('.static', filename='logo.png')}}" align="center" >
        &nbsp;Kubyk - Login
      </div>
        <div class="card-body">
          {% if error  %}
            <div class="alert alert-warning">
              <strong>Warning!</strong> {{ error }}
            </div>
          {% endif %}
          <form form action="{{ url_for('login') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="foapp/templates/login.htmlrm-group">
              <label for="username">Username</label>
                {{ form.username(class_="form-control", placeholder="Username", id="username") }}
            </div>
                <br>
            <div class="form-group">
              <label for="password">Password</label>
              {{ form.password(class_="form-control", placeholder="Password", id="password") }}
            </div>
          <button class="btn btn-primary btn-block" value=login type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
